@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
    --light-grey: #dce4e3;
    --text-color: #084236;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    background-color: var(--body-bg-color);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.containerSidebar{
    
    height: 100vh;
    width: 250px ;
}

.sideBar{
    position: absolute;
    top: 0;
    width: 78px;
    height: 100vh;
    background-color: var(--green);
    transition: all 0.5s ease;
}

/* Side Bar Open */


.sideBar.close {
    width: 270px;
}

.sideBar.close .topSidebar .btnSection #menuBtn{
    width: 75%;
    
}

.sideBar.close .logoSection{
    display: block;
}

.sideBar.close .sidebarItens .sidebarItensSection .p{
    opacity: 1;
    
}

.sideBar.close .sidebarItens .sidebarItensSection{
    width: 100%;
}

.sideBar.close .sidebarItens .sidebarItensSection input{
    display: block;
}

.sideBar.close .bottombar .bottombarElements .imageProfile{
    display: block;
}

.sideBar.close .bottombar .bottombarElements .nameProfile{
    display: block;
}

.sideBar.close .bottombar .bottombarElements .jobProfile{
    display: block;
}

.sideBar.close ~ .containerTitle{
    width: calc(100% - 270px);
    left: 270px;
    transition: all 0.5s ease;
}
    

/* Side Bar Open */

.topSidebar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.topSidebar img {
    cursor: pointer;
    margin-right: 50px
}

.logoSection{
    display: none;
}

#menuBtn{
    background-color: transparent;
    border: none;
    
}

#menuBtn img {
    width: 70%;
    
}

.btnSection img{
    position: relative;
    left: 5px;

}

.sidebarItens{
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}

#active{
    background-color: var(--light-green);

    border-radius: 10px;
}

.p{
    opacity: 0;
}

.sidebarItensSection:hover{
    background-color: var(--light-green);
    
    border-radius: 10px;
}



.sidebarItensSection{
    width: 35%;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s all ease;
    white-space: nowrap;
}


.sidebarItensSection input{
    display: none;
    background-color:  transparent;
    border: none;
    margin: 10px;   
    outline: none;
}

.sidebarItensSection input::-webkit-input-placeholder{
    color: black ;
    opacity: 0.7;
}

.sidebarItensSection img{
    margin-right: 20px;
}

.bottombar{
    background-color: var(--light-green);
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bottombarElements{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.imageProfile{
    display: none;
    margin: 10px;
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    object-fit: cover;
}

.nameProfile{
    font-weight: 400;
    font-size: 17px;
}


.informationProfile h4, p{
    margin: 5px;
}

.informationProfile p {
    padding-top: 0;
    font-size: 14px;
}

.nameProfile{
    display: none;
}

.jobProfile{
    display: none;
}


.btnOut{
    margin: 20px;
    cursor: pointer;
    
}

.containerTitle{
    position: absolute;
    height: 100%;
    width: calc(100% - 80px);
    left: 80px;
    transition: all 0.5s ease;
}

.containerTitle h1{
    margin: 15px;
}

